.topbar {
	padding: 0.5rem 1.25rem;
	display: flex;
	justify-content: space-between;
	position: sticky;
	background-color: white;
	z-index: 100;
	width: auto;
	top: 0;
	box-shadow: 0rem 0.25rem 0.5rem -0.5rem rgba(0, 0, 0, 0.75);
}
/* LEFT SECTION */
.logo {
	width: 8rem;
}
.left-section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.input-wrapper {
	display: flex;
	align-items: center;
	background-color: #eff2f5;
	padding: 0.25rem;
	margin-left: 1rem;
	border-radius: 25rem;
}
.svg-search {
	color: gray;
}
.search-bar {
	border: none;
	background-color: transparent;
	outline-width: 0;
}
/* END OF LEFT SECTION */

/* CENTER SECTION */
.center-section {
	display: flex;
	flex: 1;
	justify-content: center;
}
.nav-item {
	display: flex;
	align-items: center;
	padding: 0 1.75rem;
	cursor: pointer;
}
.nav-item:hover {
	background-color: #eff2f5;
	border-radius: 0.75rem;
	align-items: center;
	padding: 0 1.75rem;
	border-bottom: 0;
}
.nav-icon {
	color: gray;
}
.nav-item:hover > .nav-icon {
	color: #74b117;
}
.nav-item--active > .nav-icon {
	color: #74b117;
}
.nav-item--active {
	color: #74b117;
	border-bottom: 0.25rem solid #74b117;
}
/* END OF CENTER SECTION */

/* RIGTH SECTION */
.right-section {
	display: flex;
}
.user-avatar {
	width: 2.5rem;
}
.right-btns-wrapper {
	padding: 0 0.75rem;
	display: flex;
	align-items: center;
	gap: 1.25rem;
}
.notification {
	position: relative;
	display: flex;
}
.notification-count {
	position: absolute;
	top: -0.25rem;
	right: 0;
	height: 1rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #a50100;
}
.notification-number {
	font-size: x-small;
	position: absolute;
	left: 0.3rem;
}

/* END OF RIGHT SECTION */
